.mbm {
  margin-bottom: 50px;
}
.mbs {
  margin-bottom: 5px;
}

.standardBtn {
  display: inline-block;
  padding: 8px 20px;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 7px;
  font-family: "Montserrat";
}
.info {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), #ff0000;
  background-position: center;
  background-size: 50% 2px, 2px 50%;
  background-repeat: no-repeat;
}

.disabled {
  background: gray;
}

.primary {
  background: #ff0000;
}
.secondary {
  color: black;
  background: linear-gradient(98.81deg, #fff0f0 -0.82%, #ffdfdf 101.53%);
}
