.back {
  /* padding: 20px; */
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 15px;
  background: #ff0000;
}
.back::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  right: 0;
  margin: auto;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  transform: rotate(45deg);
}
.recipeTitle {
  margin-bottom: 20px;
}
.imgWrapper {
  width: 556px;
  height: 370px;
  margin-bottom: 5px;
}
.recipeImage {
  width: 556px;
  height: 370px;
}
.cookingTimeImg {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
.cookingTimeWrapper {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sectionHeader {
  align-self: flex-start;
  font-size: 24px;
}
.recipeDescription {
  margin-bottom: 30px;
}
